# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.github

# C extensions
*.so


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/
miniconda3
venv.tar.gz
# IDEs
.idea
.vscode